**<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of three. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of three, if there exists an integer¬†`x`¬†such that¬†`n == 3x`.

**Example 1:**

</aside>**

In [1]:
def isPowerOfThree(n):
    if n <= 0:
        return False
    while n % 3 == 0:
        n //= 3
    return n == 1

In [13]:
print(isPowerOfThree(27))

True

Example 2:**Input: n = 0
Output: false
Explanation: There is no x where 3x = 0.

In [3]:
def isPowerOfThree(n):
    if n <= 0:
        return False
    while n % 3 == 0:
        n //= 3
    return n == 1

In [12]:
print(isPowerOfThree(8))

False

**
Example 3:Input: n = -1
Output: false
Explanation: There is no x where 3x = (-1).**

In [5]:
def isPowerOfThree(n):
    if n <= 0:
        return False
    while n % 3 == 0:
        n //= 3
    return n == 1

In [11]:
print(isPowerOfThree(-1))

False

**<aside>
üí° **Question 2**

You have a list¬†`arr`¬†of all integers in the range¬†`[1, n]`¬†sorted in a strictly increasing order. Apply the following algorithm on¬†`arr`:

- Starting from left to right, remove the first number and every other number afterward until you reach the end of the list.
- Repeat the previous step again, but this time from right to left, remove the rightmost number and every other number from the remaining numbers.
- Keep repeating the steps again, alternating left to right and right to left, until a single number remains.

Given the integer¬†`n`, return¬†*the last number that remains in*¬†`arr`.

</aside>
Example 1:Input: n = 9
Output: 6
Explanation:
arr = [1, 2,3, 4,5, 6,7, 8,9]
arr = [2,4, 6,8]
arr = [2, 6]
arr = [6]
**

In [7]:
def isPowerOfThree(n):
    if n <= 0:
        return False
    while n % 3 == 0:
        n //= 3
    return n == 1

In [10]:
print(isPowerOfThree(-1))

False

Example 2:Input: n = 1
Output: 1

In [9]:
def lastRemaining(n):
    return 1

print(lastRemaining(1))

1

**<aside>
üí° **Question 3**

****Given a set represented as a string, write a recursive code to print all subsets of it. The subsets can be printed in any order.

**Example 1:**

Input :¬†¬†set = ‚Äúabc‚Äù

Output :¬†{ ‚Äú‚Äù, ‚Äúa‚Äù, ‚Äúb‚Äù, ‚Äúc‚Äù, ‚Äúab‚Äù, ‚Äúac‚Äù, ‚Äúbc‚Äù, ‚Äúabc‚Äù}

</aside>**

In [14]:
def printSubsets(s, current="", index=0):
    if index == len(s):
        print(current)
        return

    printSubsets(s, current, index + 1)  # Exclude current character
    printSubsets(s, current + s[index], index + 1)  # Include current character

def printAllSubsets(s):
    printSubsets(s)

In [15]:
printAllSubsets("abc")

c
b
bc
a
ac
ab
abc

**Example 2:**

Input :¬†set = ‚Äúabcd‚Äù

Output :¬†{ ‚Äú‚Äù, ‚Äúa‚Äù ,‚Äùab‚Äù ,‚Äùabc‚Äù ,‚Äùabcd‚Äù, ‚Äúabd‚Äù ,‚Äùac‚Äù ,‚Äùacd‚Äù, ‚Äúad‚Äù ,‚Äùb‚Äù, ‚Äúbc‚Äù ,‚Äùbcd‚Äù ,‚Äùbd‚Äù ,‚Äùc‚Äù ,‚Äùcd‚Äù ,‚Äùd‚Äù }

In [16]:
def printSubsets(s, current="", index=0):
    if index == len(s):
        print(current)
        return

    printSubsets(s, current, index + 1)  # Exclude current character
    printSubsets(s, current + s[index], index + 1)  # Include current character

def printAllSubsets(s):
    printSubsets(s)

In [17]:
printAllSubsets("abcd")

d
c
cd
b
bd
bc
bcd
a
ad
ac
acd
ab
abd
abc
abcd

** **Question 4**

Given a string calculate length of the string using recursion.

</aside>
example
Input : str = "abcd"
Output :4

Input : str = "GEEKSFORGEEKS"
Output :13**

In [18]:
def stringLength(string):
    if string == '':
        return 0
    else:
        return 1 + stringLength(string[1:])

In [20]:
str1 = "abcd"
print(stringLength(str1))  

str2 = "GEEKSFORGEEKS"
print(stringLength(str2))

4
13

**<aside>
üí° **Question 5**

We are given a string S, we need to find count of all contiguous substrings starting and ending with same character.

</aside>
example
Input  : S = "abcab"
Output : 7
There are 15 substrings of "abcab"
a, ab, abc, abca, abcab, b, bc, bca
bcab, c, ca, cab, a, ab, b
Out of the above substrings, there
are 7 substrings : a, abca, b, bcab,
c, a and b.

Input  : S = "aba"
Output : 4
The substrings are a, b, a and aba**

In [21]:
def countSubstrings(s):
    count = 0
    for i in range(len(s)):
        for j in range(i, len(s)):
            if s[i] == s[j]:
                count += 1
    return count

In [22]:
str1 = "abcab"
print(countSubstrings(str1))  

str2 = "aba"
print(countSubstrings(str2))

7
4

**<aside>
üí° **Question 6**

The¬†[tower of Hanoi](https://en.wikipedia.org/wiki/Tower_of_Hanoi)¬†is a famous puzzle where we have three rods and¬†**N**¬†disks. The objective of the puzzle is to move the entire stack to another rod. You are given the number of discs¬†**N**. Initially, these discs are in the rod 1. You need to print all the steps of discs movement so that all the discs reach the 3rd¬†rod. Also, you need to find the total moves.**Note:**¬†The discs are arranged such that the¬†**top disc is numbered 1**¬†and the¬†**bottom-most disc is numbered N**. Also, all the discs have¬†**different sizes**¬†and a bigger disc¬†**cannot**¬†be put on the top of a smaller disc. Refer the provided link to get a better clarity about the puzzle.

</aside>
example
Input:
N = 2
Output:
move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
3
Explanation:For N=2¬†, steps will be
as follows in the example and total
3 steps will be taken.**

In [23]:
def towerOfHanoi(n, source, destination, auxiliary):
    if n == 1:
        print(f"move disk 1 from rod {source} to rod {destination}")
        return 1

    count = 0
    count += towerOfHanoi(n-1, source, auxiliary, destination)
    print(f"move disk {n} from rod {source} to rod {destination}")
    count += 1
    count += towerOfHanoi(n-1, auxiliary, destination, source)

    return count

In [24]:
N = 2
steps = towerOfHanoi(N, 1, 3, 2)
print(steps)

move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
3

example2
Input:
N = 3
Output:
move disk 1 from rod 1 to rod 3
move disk 2 from rod 1 to rod 2
move disk 1 from rod 3 to rod 2
move disk 3 from rod 1 to rod 3
move disk 1 from rod 2 to rod 1
move disk 2 from rod 2 to rod 3
move disk 1 from rod 1 to rod 3
7
Explanation:For N=3 , steps will be
as follows in the example and total
7 steps will be taken.

In [25]:
def towerOfHanoi(n, source, destination, auxiliary):
    if n == 1:
        print(f"move disk 1 from rod {source} to rod {destination}")
        return 1

    count = 0
    count += towerOfHanoi(n-1, source, auxiliary, destination)
    print(f"move disk {n} from rod {source} to rod {destination}")
    count += 1
    count += towerOfHanoi(n-1, auxiliary, destination, source)

    return count

In [26]:
N = 3
steps = towerOfHanoi(N, 1, 3, 2)
print(steps)

move disk 1 from rod 1 to rod 3
move disk 2 from rod 1 to rod 2
move disk 1 from rod 3 to rod 2
move disk 3 from rod 1 to rod 3
move disk 1 from rod 2 to rod 1
move disk 2 from rod 2 to rod 3
move disk 1 from rod 1 to rod 3
7

**<aside>
üí° **Question 7**

Given a string¬†**str**, the task is to print all the permutations of¬†**str**. A¬†**permutation**¬†is an arrangement of all or part of a set of objects, with regard to the order of the arrangement. For instance, the words ‚Äòbat‚Äô and ‚Äòtab‚Äô represents two distinct permutation (or arrangements) of a similar three letter word.

</aside>
example
> Input:¬†str = ‚Äúcd‚Äù
> 
> 
> **Output:**¬†cd dc
> 
> **Input:**¬†str = ‚Äúabb‚Äù
> 
> **Output:**¬†abb abb bab bba bab bba
>**

In [27]:
def permuteString(s, l, r):
    if l == r:
        print("".join(s))
        return

    for i in range(l, r+1):
        s[l], s[i] = s[i], s[l]  # Swap characters
        permuteString(s, l+1, r)  # Recurse on the remaining substring
        s[l], s[i] = s[i], s[l]  # Revert the swap

def printPermutations(str):
    n = len(str)
    s = list(str)
    permuteString(s, 0, n-1)

In [29]:
str1 = "cd"
printPermutations(str1) 

str2 = "abb"
printPermutations(str2)

cd
dc
abb
abb
bab
bba
bba
bab

**<aside>
üí° **Question 8**

Given a string, count total number of consonants in it. A consonant is an English alphabet character that is not vowel (a, e, i, o and u). Examples of constants are b, c, d, f, and g.

</aside>
example
Input : abc de
Output : 3
There are three consonants b, c and d.

Input : geeksforgeeks portal
Output : 12**

In [30]:
def countConsonants(string):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0
    for char in string:
        if char in consonants:
            count += 1
    return count

In [31]:
str1 = "abc de"
print(countConsonants(str1))  # Output: 3

str2 = "geeksforgeeks portal"
print(countConsonants(str2))  # Output: 12

3
12