**<aside>
💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>**

In [1]:
def isPowerOfTwo(n):
    if n <= 0:
        return False
    return (n & (n - 1)) == 0

In [2]:
print(isPowerOfTwo(1))  # Output: True
print(isPowerOfTwo(16))  # Output: True
print(isPowerOfTwo(3))  # Output: False

True
True
False

**<aside>
💡 **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>**

In [3]:
def sumOfNaturalNumbers(n):
    return (n * (n + 1)) // 2

In [4]:
print(sumOfNaturalNumbers(3))  # Output: 6
print(sumOfNaturalNumbers(5))  # Output: 15

6
15

**<aside>
💡 **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>**

In [5]:
def factorial(N):
    result = 1
    for i in range(2, N + 1):
        result *= i
    return result

In [6]:
print(factorial(5))  # Output: 120
print(factorial(4))  # Output: 24

120
24

**<aside>
💡 **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>**

In [7]:
def exponentiation(N, P):
    return N ** P

In [8]:
print(exponentiation(5, 2))  # Output: 25
print(exponentiation(2, 5))  # Output: 32

25
32

**<aside>
💡 **Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>**

In [9]:
def findMax(arr, start, end):
    # Base case: when there is only one element in the array
    if start == end:
        return arr[start]

    # Divide the array into two halves
    mid = (start + end) // 2

    # Recursively find the maximum element in each half
    max1 = findMax(arr, start, mid)
    max2 = findMax(arr, mid + 1, end)

    # Compare the maximum elements of the two halves
    return max(max1, max2)

In [10]:
arr = [1, 4, 3, -5, -4, 8, 6]
max_element = findMax(arr, 0, len(arr) - 1)
print(max_element)

8

In [11]:
arr = [1, 4, 45, 6, 10, -8]
max_element = findMax(arr, 0, len(arr) - 1)
print(max_element)

45

**<aside>
💡 **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>**

In [13]:
def findNthTerm(a, d, N):
    return a + (N - 1) * d

In [14]:
print(findNthTerm(2, 1, 5))  # Output: 6
print(findNthTerm(5, 2, 10))  # Output: 23

6
23

**<aside>
💡 **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

**Example 2:**

***Input:***

*S = “XY”*

***Output:***

*“XY”, “YX”*

</aside>**

In [15]:
def permute(s, l, r):
    if l == r:
        print("".join(s))
    else:
        for i in range(l, r + 1):
            s[l], s[i] = s[i], s[l]  # Swap the characters
            permute(s, l + 1, r)  # Recursively permute the remaining characters
            s[l], s[i] = s[i], s[l]  # Undo the swap

def printPermutations(S):
    n = len(S)
    s = list(S)  # Convert the string to a list of characters
    permute(s, 0, n - 1)

In [16]:
printPermutations("ABC")

ABC
ACB
BAC
BCA
CBA
CAB

In [17]:
printPermutations("XY")

XY
YX

**<aside>
💡 **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>**

In [18]:
def arrayProduct(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [19]:
arr1 = [1, 2, 3, 4, 5]
print(arrayProduct(arr1))  # Output: 120

arr2 = [1, 6, 3]
print(arrayProduct(arr2))  # Output: 18

120
18